.card {
    background-color: #f1f1f1;
    width: 100%;
    height: 90vh;
    max-width: 700px;
    margin-inline: auto;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);

}
.contentCard{
    border-left: 1px dashed grey;
    border-right: 1px dashed grey;
    margin: 0 24px;
    height: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);

}