*{
  margin: 0;
  padding: 0;
}
.nav {
  background: #13a89e;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 80px;
}

.NavBtn {
  display: flex;
  margin-right: 24px;
  position: relative;

  @media screen and (max-width: 768px) display: none;
}
.NavBtnLink {
  align-items: flex-end;
  border-radius: 0px;
  background: whitesmoke;
  padding: 10px 22px;
  color: #212121;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);
}
.NavBtnLink:hover {
  transition: all 0.2s ease-in-out;
  background: rgb(223, 89, 12);
  color: #010606;
}

