.nav {
  background: #13a89e;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 60px;
}
.NavBtn {
  display: flex;
  margin-right: 24px;
  position: relative;
  @media screen and (max-width: 768px) display: none;
}
.NavBtnLinkPrinter {
  display: flex;
  align-items: flex-end;
  border-radius: 0px;
  background: whitesmoke;
  padding: 6.5px 18px;
  color: #212121;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);
}
.NavBtnLinkPrinter:hover {
  transition: all 0.2s ease-in-out;
  background: #b5b5b5;
  color: #010606;
}
.react-icons {
  display: inline-flex;
  align-items: center;
  size: 1rem;
  outline: none;
  border: none;
  margin: 0px 8px 0px -2px;
  size: 16px;
}
