
.app-footer {
    background: #13a89e;
    align-items: center;
    display: flex;
    height: 36px;
    bottom: 0;
    width: 100%;
}

.app-footer__message {
    display: flex;
    align-items: center;
    color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}